html {
  background-color: #7bc9c2;
  font-family: Helvetica, Arial, sans-serif;
}

html, body, #app {
  margin: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.ac-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ac-main {
  flex-grow: 1;
  background-color: #baa584;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Ccircle r='3' cx='10' cy='10' fill='%23ffffff88'/%3E%3Ccircle r='3' cx='30' cy='30' fill='%23ffffff88'/%3E%3C/svg%3E");
}

.ac-controls {
  display: flex;
  padding: 10px 0 10px 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  transition: all 0.2s ease-in-out;
}

.ac-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ac-button {
  flex: 0 0 auto;
  font-size: 18px;
  border: 4px solid #ffffffbb;
  border-radius: 30px;
  margin: 0 4px 4px 4px;
  width: 120px;
  height: 50px;
  background: #69ce2f;
  color: white;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.ac-button--play {
  background: #34bda3;
}

.ac-button--play:hover {
  color: #34bda3;
}

.ac-button--delete {
  background: #6c6865;
}
.ac-button--delete:hover {
  color: #6c6865;
}

.ac-button--random {
  background: #e5cd9f;
  color: #846836;
}

.ac-button--save {
  background: #eac35e;
  color: #92654e;
}

.ac-button--info {
  width: 60px;
  background: #8b9cf4;
  color: #white;
}

.ac-button--info:hover {
  width: 60px;
  color: #8b9cf4;
  background: #white;
}

.ac-button:hover {
  border-color: #ffffffbb;
  border-radius: 20px;
  background: white;
}

.ac-share-url {
  flex-shrink: 1;
  margin: 10px;
  width: 300px;
  height: 25px;
  border-radius: 30px;
  border: 4px solid #ffffffbb;
  background: #fffbe5;
  padding-left: 10px;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: #3d2700;
}

@media (orientation: landscape) and (max-height: 640px) {
  .ac-controls {
    padding: 5px;
  }

  .ac-button {
    font-size: 13px;
    height: 40px;
    width: 80px;
  }

  .ac-share-url {
    width: 150px;
    height: 20px;
    font-size: 0.8em;
    margin: 5px;
  }
}


.ac-modal__bg {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ac-modal__pad-start {
  align-self: flex-start;
}

.ac-modal__pad-end {
  align-self: flex-end;
}

.ac-modal {
  background: #f7f3e7;
  border-radius: 40px;
  padding: 25px 25px 15px 25px;
  color: #504445;
  width: 450px;
  max-width: 80%;
}

.ac-modal__text {
  overflow-y: scroll;
  height: 300px;
  max-height: 100px;
}

.ac-modal__close {
  color: #aaa;
  float: right;
  margin-top: -13px;
  font-size: 28px;
  font-weight: bold;
}

.ac-modal__close:hover,
.ac-modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ac-modal__title {
  margin-top: -5px;
  font-size: 1.3em;
}

.ac-modal__footer {
  border-top: 2px dashed #b8b49b;
  padding: 15px 10px 0 10px;
  text-align: right;
}

.ac-modal__footer a {
  font-weight: bold;
  color: #4c3d3c;
  text-decoration: none;
}

