html {
  height: 100%;
  width: 100%;
  background-color: #eef8bf;
}

.ac-frog {
  padding: 5px;
}

.ac-frog-container {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  padding: 5px;
  width: 12.5%;
}

.ac-frogs {
  display: flex;
  flex-flow: row wrap;
}
